
/* navbar css */
.navbar{
    background-color: whitesmoke;
    color: green;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* position: fixed; */
    width: 100%;
    height: 100px;
}
.navbar div h1{
    font-family: "Winky Rough", sans-serif;
    font-size: 25px;
    font-weight: 150;
    /* text-align: center; */
    align-items: center;
}
.navbar div {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-left: 70px;
}
.navbar div a {
    text-decoration: none;
    align-items: center;
    color: #333;
}
.navbar div div a{
    color: rgb(93, 188, 235);
    font-family: "Winky Rough", sans-serif;
    font-size: 20px;
    align-items: center;
}
.navbar div nav ul{
    font-family: "Winky Rough", sans-serif;
    font-weight: 100;
    font-size: 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    list-style: none;
    gap: 60px;
    margin-right: 70px;
}
.hover li a:hover{
    color: greenyellow;
}


/* swipper css */
html,
    body {
      position: relative;
      height: 100%;
    }

    .body {
      background: #000;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color: #fff;
      margin: 0;
      padding: 0;
    } 

    .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #444;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    
