
a{
    text-decoration: none;
}
.body{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(https://wallpapercave.com/wp/wp8423168.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

form{
    align-items: center;
    padding: 70px;
    padding-left: 100px;
    background-color: rgba(116, 191, 221, 0.5);
    color: solid black;
    font-size: 20px;
    height: 300px;
    width: 300px;
    margin-top: 130px;
    border: 1px solid black;
    border-radius: 20px;
}

.btn{
    height: 40px;
    width: 250px;
    font-size: 25px;
    font-weight: bolder;
    background-color: rgb(108, 242, 108);
    color: black;
    border-radius: 5px;
    cursor: pointer;
}
.btn:hover{
    background-color: teal;
}