*{
    text-align: center;
}
th{
    background-color: beige;
}
table{
    border-radius: 25px;
}
td{
    border-radius: 30px;
}

.tab tr td:hover{
    background-color: teal;
    cursor: pointer;
}
.white{
    background-color: black;
    color: white;
}

.red{
    background-color: rgb(72, 72, 74);
    color: orange;
    font-weight: bold;
}

.aq{
    background-color: rgb(239, 10, 10);
    color: black;
    font-weight: bolder;
}