.container{
     width: 200px;
     height: 200px;
     border: 1px solid black;
     margin: auto;
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-template-rows: repeat(3, 80px);
     gap: 150px;
}
.box img{
    height: 200px;
    width: 200px;
    border: 1px solid black;
    border-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;
} 
button{
    margin-left: 750px;
    margin-top: 250px;
}

